<div class="container">
	<h1 class="jumbotron-heading">Album example</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Mea ei partem atomorum molestiae. Commodo pertinacia expetendis eos an, eam unum praesent in. Usu mollis periculis eu, ad dicat facilisi argumentum vix. In ius choro iuvaret feugiat.</p>
			</div>
			<div class="col">
				<p>Ei eros similique mel, mel eripuit invenire in. Cu eam mollis salutandi. Tamquam recteque vel in, et audire incorrupte mei, an pro saepe nostrum. Sed ea liber pertinacia, impetus lobortis repudiandae mel et, sea ut iisque bonorum.</p>
			</div>
		</div>
	</div>
</div>